<!-- <header class="reader-app-header table" id="reader-app-header">
			<div class="table-row">
				<div class="table-cell hidden js-back-button" id="backButton"><i class="icon-arrow3_left"></i></div>
				<div class="table-cell" id="headerText">
					<img class="logo-img large" src="../ck12-components/common/images/ck12.svg" alt="CK-12">			
				</div>
</header> -->
<div class="thankYou-signUp-page">
	<div class="large-8 large-centered small-12 small-centered columns">
		<h1 class="toptitle text-center">Thanks for signing up,</h1>
		<!--<div class="spacetoplarge"></div>  -->
	</div>
	<div id="signup" class="contentarea large-8 large-centered small-11 small-centered columns">
		<div class="signup-area">
			<!-- <div class="spacetopxlarge"></div>
			<div class="divider"></div> 
			check spacetop
			-->
			<div class="spacetop">
				<div class="noticeline">
				
				<h1 class="text-center toptitle"><%=data.userName%>!</h1>
				<div class="text-center congrats-text">Your account has been created.</div>
				<div class="text-center congrats-text congrats-text-bottom">Let's continue to create your profile.</div>
				</div>
				<div class="text-center okay-button">
					<input class="button large tangerine okay" id='thankYou-okayButton' type="button" value="Okay"></input>
				</div>
		
			</div>
	
		
		</div>
	</div>
</div>		  		




